@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.g-root {
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-orange-50: rgb(247 153 0 / 0.1);
    --g-color-private-orange-100: rgb(247 153 0 / 0.15);
    --g-color-private-orange-150: rgb(247 153 0 / 0.2);
    --g-color-private-orange-200: rgb(247 153 0 / 0.3);
    --g-color-private-orange-250: rgb(247 153 0 / 0.4);
    --g-color-private-orange-300: rgb(247 153 0 / 0.5);
    --g-color-private-orange-350: rgb(247 153 0 / 0.6);
    --g-color-private-orange-400: rgb(247 153 0 / 0.7);
    --g-color-private-orange-450: rgb(247 153 0 / 0.8);
    --g-color-private-orange-500: rgb(247 153 0 / 0.9);
    --g-color-private-orange-550-solid: rgb(247 153 0);
    --g-color-private-orange-1000-solid: rgb(66 48 29);
    --g-color-private-orange-950-solid: rgb(77 54 27);
    --g-color-private-orange-900-solid: rgb(98 66 24);
    --g-color-private-orange-850-solid: rgb(119 79 20);
    --g-color-private-orange-800-solid: rgb(141 91 17);
    --g-color-private-orange-750-solid: rgb(162 103 14);
    --g-color-private-orange-700-solid: rgb(183 116 10);
    --g-color-private-orange-650-solid: rgb(204 128 7);
    --g-color-private-orange-600-solid: rgb(226 141 3);
    --g-color-private-orange-500-solid: rgb(248 163 25);
    --g-color-private-orange-450-solid: rgb(249 173 51);
    --g-color-private-orange-400-solid: rgb(249 184 77);
    --g-color-private-orange-350-solid: rgb(250 194 102);
    --g-color-private-orange-300-solid: rgb(251 204 128);
    --g-color-private-orange-250-solid: rgb(252 214 153);
    --g-color-private-orange-200-solid: rgb(253 224 179);
    --g-color-private-orange-150-solid: rgb(253 235 204);
    --g-color-private-orange-100-solid: rgb(254 240 217);
    --g-color-private-orange-50-solid: rgb(254 245 230);

    --g-color-private-green-50: rgb(0 178 83 / 0.1);
    --g-color-private-green-100: rgb(0 178 83 / 0.15);
    --g-color-private-green-150: rgb(0 178 83 / 0.2);
    --g-color-private-green-200: rgb(0 178 83 / 0.3);
    --g-color-private-green-250: rgb(0 178 83 / 0.4);
    --g-color-private-green-300: rgb(0 178 83 / 0.5);
    --g-color-private-green-350: rgb(0 178 83 / 0.6);
    --g-color-private-green-400: rgb(0 178 83 / 0.7);
    --g-color-private-green-450: rgb(0 178 83 / 0.8);
    --g-color-private-green-500: rgb(0 178 83 / 0.9);
    --g-color-private-green-550-solid: rgb(0 178 83);
    --g-color-private-green-1000-solid: rgb(29 51 41);
    --g-color-private-green-950-solid: rgb(27 59 44);
    --g-color-private-green-900-solid: rgb(24 74 49);
    --g-color-private-green-850-solid: rgb(20 89 54);
    --g-color-private-green-800-solid: rgb(17 104 59);
    --g-color-private-green-750-solid: rgb(14 118 63);
    --g-color-private-green-700-solid: rgb(10 133 68);
    --g-color-private-green-650-solid: rgb(7 148 73);
    --g-color-private-green-600-solid: rgb(3 163 78);
    --g-color-private-green-500-solid: rgb(25 186 100);
    --g-color-private-green-450-solid: rgb(51 193 117);
    --g-color-private-green-400-solid: rgb(77 201 135);
    --g-color-private-green-350-solid: rgb(102 209 152);
    --g-color-private-green-300-solid: rgb(128 217 169);
    --g-color-private-green-250-solid: rgb(153 224 186);
    --g-color-private-green-200-solid: rgb(179 232 203);
    --g-color-private-green-150-solid: rgb(204 240 221);
    --g-color-private-green-100-solid: rgb(217 243 229);
    --g-color-private-green-50-solid: rgb(230 247 238);

    --g-color-private-brand-50: rgb(0 170 255 / 0.1);
    --g-color-private-brand-100: rgb(0 170 255 / 0.15);
    --g-color-private-brand-150: rgb(0 170 255 / 0.2);
    --g-color-private-brand-200: rgb(0 170 255 / 0.3);
    --g-color-private-brand-250: rgb(0 170 255 / 0.4);
    --g-color-private-brand-300: rgb(0 170 255 / 0.5);
    --g-color-private-brand-350: rgb(0 170 255 / 0.6);
    --g-color-private-brand-400: rgb(0 170 255 / 0.7);
    --g-color-private-brand-450: rgb(0 170 255 / 0.8);
    --g-color-private-brand-500: rgb(0 170 255 / 0.9);
    --g-color-private-brand-550-solid: rgb(0 170 255);
    --g-color-private-brand-1000-solid: rgb(29 50 67);
    --g-color-private-brand-950-solid: rgb(27 57 78);
    --g-color-private-brand-900-solid: rgb(24 71 100);
    --g-color-private-brand-850-solid: rgb(20 85 122);
    --g-color-private-brand-800-solid: rgb(17 100 145);
    --g-color-private-brand-750-solid: rgb(14 114 167);
    --g-color-private-brand-700-solid: rgb(10 128 189);
    --g-color-private-brand-650-solid: rgb(7 142 211);
    --g-color-private-brand-600-solid: rgb(3 156 233);
    --g-color-private-brand-500-solid: rgb(25 179 255);
    --g-color-private-brand-450-solid: rgb(51 187 255);
    --g-color-private-brand-400-solid: rgb(77 196 255);
    --g-color-private-brand-350-solid: rgb(102 204 255);
    --g-color-private-brand-300-solid: rgb(128 213 255);
    --g-color-private-brand-250-solid: rgb(153 221 255);
    --g-color-private-brand-200-solid: rgb(179 230 255);
    --g-color-private-brand-150-solid: rgb(204 238 255);
    --g-color-private-brand-100-solid: rgb(217 242 255);
    --g-color-private-brand-50-solid: rgb(230 247 255);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0 0 0 / 0.85);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-orange-50: rgb(247 153 0 / 0.1);
    --g-color-private-orange-100: rgb(247 153 0 / 0.15);
    --g-color-private-orange-150: rgb(247 153 0 / 0.2);
    --g-color-private-orange-200: rgb(247 153 0 / 0.3);
    --g-color-private-orange-250: rgb(247 153 0 / 0.4);
    --g-color-private-orange-300: rgb(247 153 0 / 0.5);
    --g-color-private-orange-350: rgb(247 153 0 / 0.6);
    --g-color-private-orange-400: rgb(247 153 0 / 0.7);
    --g-color-private-orange-450: rgb(247 153 0 / 0.8);
    --g-color-private-orange-500: rgb(247 153 0 / 0.9);
    --g-color-private-orange-550-solid: rgb(247 153 0);
    --g-color-private-orange-1000-solid: rgb(254 240 217);
    --g-color-private-orange-950-solid: rgb(253 235 204);
    --g-color-private-orange-900-solid: rgb(253 224 179);
    --g-color-private-orange-850-solid: rgb(252 214 153);
    --g-color-private-orange-800-solid: rgb(251 204 128);
    --g-color-private-orange-750-solid: rgb(250 194 102);
    --g-color-private-orange-700-solid: rgb(249 184 77);
    --g-color-private-orange-650-solid: rgb(249 173 51);
    --g-color-private-orange-600-solid: rgb(248 163 25);
    --g-color-private-orange-500-solid: rgb(226 141 3);
    --g-color-private-orange-450-solid: rgb(204 128 7);
    --g-color-private-orange-400-solid: rgb(183 116 10);
    --g-color-private-orange-350-solid: rgb(162 103 14);
    --g-color-private-orange-300-solid: rgb(141 91 17);
    --g-color-private-orange-250-solid: rgb(119 79 20);
    --g-color-private-orange-200-solid: rgb(98 66 24);
    --g-color-private-orange-150-solid: rgb(77 54 27);
    --g-color-private-orange-100-solid: rgb(66 48 29);
    --g-color-private-orange-50-solid: rgb(55 41 31);

    --g-color-private-green-50: rgb(0 178 83 / 0.1);
    --g-color-private-green-100: rgb(0 178 83 / 0.15);
    --g-color-private-green-150: rgb(0 178 83 / 0.2);
    --g-color-private-green-200: rgb(0 178 83 / 0.3);
    --g-color-private-green-250: rgb(0 178 83 / 0.4);
    --g-color-private-green-300: rgb(0 178 83 / 0.5);
    --g-color-private-green-350: rgb(0 178 83 / 0.6);
    --g-color-private-green-400: rgb(0 178 83 / 0.7);
    --g-color-private-green-450: rgb(0 178 83 / 0.8);
    --g-color-private-green-500: rgb(0 178 83 / 0.9);
    --g-color-private-green-550-solid: rgb(0 178 83);
    --g-color-private-green-1000-solid: rgb(217 243 229);
    --g-color-private-green-950-solid: rgb(204 240 221);
    --g-color-private-green-900-solid: rgb(179 232 203);
    --g-color-private-green-850-solid: rgb(153 224 186);
    --g-color-private-green-800-solid: rgb(128 217 169);
    --g-color-private-green-750-solid: rgb(102 209 152);
    --g-color-private-green-700-solid: rgb(77 201 135);
    --g-color-private-green-650-solid: rgb(51 193 117);
    --g-color-private-green-600-solid: rgb(25 186 100);
    --g-color-private-green-500-solid: rgb(3 163 78);
    --g-color-private-green-450-solid: rgb(7 148 73);
    --g-color-private-green-400-solid: rgb(10 133 68);
    --g-color-private-green-350-solid: rgb(14 118 63);
    --g-color-private-green-300-solid: rgb(17 104 59);
    --g-color-private-green-250-solid: rgb(20 89 54);
    --g-color-private-green-200-solid: rgb(24 74 49);
    --g-color-private-green-150-solid: rgb(27 59 44);
    --g-color-private-green-100-solid: rgb(29 51 41);
    --g-color-private-green-50-solid: rgb(31 44 39);

    --g-color-private-brand-50: rgb(0 170 255 / 0.1);
    --g-color-private-brand-100: rgb(0 170 255 / 0.15);
    --g-color-private-brand-150: rgb(0 170 255 / 0.2);
    --g-color-private-brand-200: rgb(0 170 255 / 0.3);
    --g-color-private-brand-250: rgb(0 170 255 / 0.4);
    --g-color-private-brand-300: rgb(0 170 255 / 0.5);
    --g-color-private-brand-350: rgb(0 170 255 / 0.6);
    --g-color-private-brand-400: rgb(0 170 255 / 0.7);
    --g-color-private-brand-450: rgb(0 170 255 / 0.8);
    --g-color-private-brand-500: rgb(0 170 255 / 0.9);
    --g-color-private-brand-550-solid: rgb(0 170 255);
    --g-color-private-brand-1000-solid: rgb(217 242 255);
    --g-color-private-brand-950-solid: rgb(204 238 255);
    --g-color-private-brand-900-solid: rgb(179 230 255);
    --g-color-private-brand-850-solid: rgb(153 221 255);
    --g-color-private-brand-800-solid: rgb(128 213 255);
    --g-color-private-brand-750-solid: rgb(102 204 255);
    --g-color-private-brand-700-solid: rgb(77 196 255);
    --g-color-private-brand-650-solid: rgb(51 187 255);
    --g-color-private-brand-600-solid: rgb(25 179 255);
    --g-color-private-brand-500-solid: rgb(3 156 233);
    --g-color-private-brand-450-solid: rgb(7 142 211);
    --g-color-private-brand-400-solid: rgb(10 128 189);
    --g-color-private-brand-350-solid: rgb(14 114 167);
    --g-color-private-brand-300-solid: rgb(17 100 145);
    --g-color-private-brand-250-solid: rgb(20 85 122);
    --g-color-private-brand-200-solid: rgb(24 71 100);
    --g-color-private-brand-150-solid: rgb(27 57 78);
    --g-color-private-brand-100-solid: rgb(29 50 67);
    --g-color-private-brand-50-solid: rgb(31 43 56);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0 0 0 / 0.9);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34 29 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}