.root {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 6px 8px;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
        background-color: var(--g-color-base-generic);
    }
}

.leftBlock {
    display: flex;
    gap: 12px;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;
    width: 120px;
}
